.profile {
   margin: 3rem auto;
   text-align: center;
}

.profile h1 {
   font-size: 2rem;
}

.profile img {
   object-fit: cover;
   border-radius: 4rem;
}

.profile svg {
   cursor: pointer;
}

.profile p {
   font-size: 1.2rem;
}

@media (min-width: 568px) {
   .profile {
     padding-left: 1rem;;
   }
}