.like {
   padding: 0.75rem 0;
}

.like svg {
   width: 32px;
   height: 32px;
}

@media (min-width: 568px) {
   .like {
      padding: unset;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      cursor: pointer;
   }
   .like svg {
      width: inherit;
      height: inherit;
      transition: transform 0.35s ease-in-out;
   }
   .like:hover svg {
      transform: scale(1.5);
   }
}