.footer {
   display: flex;
   flex-flow: row wrap;
   /* margin-top: 10rem; */
   padding: 2rem 1rem 1rem;
   color: #fff;
   background-color: #202020; /* #011c39; */
}
.footer > * {
   flex: 1 100%;
}
.footerLeft {
   margin-right: 1.25em;
   margin-bottom: 2em;
}
.footerLeft img {
   width: 50%;
}
.footerLeft p {
   padding-right: 20%;
   color: #999;
}
.social a {
   background: #364a62;
   width: 2.4rem;
   height: 2.4rem;
   display: inline-block;
   margin-right: 0.7rem;
}
.social a div {
   padding-top: 0.5rem;
   display: flex;
   justify-content: center;
}
.footer ul {
   list-style: none;
   padding-left: 0;
}
.footer li {
   line-height: 2em;
}
.footer a {
   text-decoration: none;
}
.footerRight {
   display: flex;
   flex-flow: row wrap;
}
.footerRight > * {
   flex: 1 50%;
   margin-right: 1.25em;
}
.footerRight h2 {
   font-weight: 600;
   font-size: 1rem;
   color: #fff;
}
.box a, .box p {
   color: #999;
}
.box p {
   margin: 0;
}
.footerBottom {
   text-align: center;
   color: #999;
   padding-top: 2.5rem;
}

@media screen and (min-width: 568px) {
   .footer {
      padding: 3rem 3rem 1rem;
   }
   .footerRight > * {
      flex: 1;
   }
   .footerLeft {
      flex: 1 0px;
   }
   .footerRight {
      flex: 2 0px;
   }
}

@media screen and (hover: hover) {
   .footer a:hover, .social a:hover svg path {
      color: #74dacc;
   }
}