.paginationWrapper {
   display: flex;
   margin: 0 auto;
   width: fit-content;
   padding-bottom: 4rem;
}

.paginationWrapper span {
   padding-top: 0.4rem;
   font-weight: 800;
}


@media (min-width: 568px) {
   .paginationWrapper a svg {
      transition: transform 0.35s ease-in-out;
   }
   .paginationWrapper a:hover svg {
      transform: scale(1.5);
   }
}